<!DOCTYPE html>
<html lang="pt-BR" th:replace="~{base :: template(~{::main})}">

<body>
    <h1>Cadastrar Cliente</h1>
    <main class="container">
        <form method="post" th:object="${cliente}" enctype="multipart/form-data" class="row">
            <div class="mb-3 col-6">
                <label class="form-label" for="nome">Nome</label>
                <input class="form-control" type="text" th:field="*{nome}">
            </div>
            <div class="mb-3 col-6">
                <label class="form-label" for="nome">cpf</label>
                <input class="form-control" type="text" th:field="*{cpf}">
            </div>
            <div class="mb-3 col-6">
                <label class="form-label" for="telefone">Celular</label>
                <input class="form-control" type="text" th:field="*{telefone}">
            </div>
            <button class="btn btn-success mb-3" type="submit">Salvar</button>
            <a class="btn btn-danger" th:href="@{/clientes}">Voltar</a>
        </form>
    </main>
</body>

</html>